#q-cont
	#slide1.slide
		.question What's your name?
		.options
			span.op for="q1op1" Spartacus
			span.op.op2 for="q1op2" Napolean
			br
			span.op for="q1op3" Pope Francis
			span.op.op2 for="q1op4" Other
	#slide2.slide
		.question Your occupation?
		.options
			span.op for="q2op1" Greek Hero
			span.op.op2 for="q2op2" French Leader
			br
			span.op for="q2op3" Religious Leader
			span.op.op2 for="q2op4" Other
	#slide3.slide
		.question Year of birth?
		.options
			span.op for="q3op1" 111 BC
			span.op.op2 for="q3op2" 1769
			br
			span.op for="q3op3" 1936
			span.op.op2 for="q3op4" Other
	#slide4.slide
		|Well Done!
		.re Reset